.idea
.vscode

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
/config/jwt/*.pem
###< symfony/framework-bundle ###

.php-cs-fixer.cache

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/openfoodfacts_test
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
.DS_Store
**/.DS_Store
