@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9fafb;;
}

.loader {
  width: 100%;
  height: calc(100% - 4rem);
  position: relative;
}

.loader > div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
