@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9fafb;;
}

.loader {
  width: 100%;
  height: calc(100% - 4rem);
  position: relative;
}

.loader > div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google_map_link {
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline;
  color: white;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  background-color: #00000099;
  padding: 6px;
  border-radius: 100%;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}

.gm-style-iw-d {
  padding: 0;
  overflow: auto !important;
}

.gm-ui-hover-effect {
  top: -3px!important;
  right: 5px!important;
}

.gm-ui-hover-effect > span {
  width: 20px!important;
  height: 20px!important;
}

.stations_map .address_street {
  max-width: 350px;
  padding: 0 10px;
  line-height: 15px;
  display: block;
}

.stations_map .address_city {
  max-width: 350px;
  padding: 0 10px;
}

.stations_map .address_street svg{
  display: inline;
}

.stations_map .link {
  background-color: #04AA6D!important;
  border-radius: 5px;
  font-size: 17px;
  padding: 6px 18px;
  display: inherit;
  margin: 10px auto 10px auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  max-width: 190px;
}

.gas_types {
  border: 1px solid black;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  overflow: hidden;
}

.gas_types span.flex-1{
  width: 50px;
  display: block;
}

.gm-style-iw-tc {
  display: none;
}

.stations_map h3 {
  font-size: 16px;
  position: relative;
  top: -35px;
  left: 8px;
  display: inline;
  color: white;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  background-color: #00000099;
  padding: 10px;
  border-radius: 10px;
}

.stations_map img {
  width: 100%;
  max-width: 350px;
}

.container_prices {
  display: flex;
  margin-top: 10px;
}

.box_prices {
  flex: 1;
  margin: 0 5px;
  text-align: center;
}

.stable {
  color: #fa8322;
}

.decreasing {
  color: #1faf2b;
}

.increasing {
  color: #ff002f;
}

.box_price_name, .box_price {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}
